* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}
 body {
 }

#main-wrapper:hover {
    cursor: pointer;
}

#main-wrapper {
    
}

.col-sm-1,
.col-sm-3,
.col-sm-2,
.col-sm-6 {
    border: solid black 3px;
    padding:30px;
    background: #808e90;
    color: white;
}

.red {
    color: white;
    background: black;
    border: solid white 2px;
}

.green {
    color: green;
}

/*.draggable { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em;
}
*/

#header-2 {
    display: none;
}